<h4>

About mealPrep4Justice
</h4>
<p>
I wanted to create an application to assist people in feeding themselves.
This application can help you prepare delicious, healthy, and inexpensive meals for you and your family.
On this site, you will find a
{{#link-to "nodes" class="button"}}
    food web
  {{/link-to}}
of recipes and a
{{#link-to "mealprep" class="button"}}
    guide
  {{/link-to}}
to meal prepping to augment and aid in discovery of new knowledge.


This site was developed by Sophie Rand. We'd love to hear from you.
<br><br>
{{#link-to "contact" class="button"}}
    Contact Us
  {{/link-to}}

</p>
