<div class="jumbo">
  <div class="right tomster"></div>
  <h2>Contact Us</h2>
  <p>The developers of this site would love to hear from you. </p>

<br>
<address>
  <p>
    Sophie Rand, Syndromic Surveillance Analyst
    <br>
  <a href="tel:347.396.4681">+1 (347) 396-4681</a><br>
  <a href="mailto:srand1@health.nyc.gov">srand1@health.nyc.gov</a>
  </p>
</address>


</div>
