<center>
<p>
  <i>

  Public health has, at its root, the commitment to social justice.
  What can we do to improve equity and close gaps in health outcomes in one of the most forward thinking cities in the world?”
  - NYC DOHMH Commissioner Dr. Mary T. Basset
</i>
</p>
<h3>
<b>
  An Ode to Meal Prep
</b>
</h3>
<p>
  On your way to work, a commute that stays the same<br>
  thinking of your tasks, and how you'll start the day<br>
  I'll write some code, take breaks to play a game,<br>
  But what will I have for lunch, you'll say?<br>

  It'll be tasty and healthy<br>
  It'll be assembled with love and precision<br>
  One thing it will definitely not be<br>
  is a point of indecision<br>

  Lunch will be a puzzle<br>
  cobbled together from different pieces<br>
  And at home you can give your pet a proper nuzzle<br>
  Cuz you've prepped, so dinner will be just as easy<br>

  All the pieces will be at your fingertips<br>
  Complex carbs, protein, fiber and vegetables<br>
  which will leave no room for a craving for chips<br>
  but with just enough flexibility to combine your comestibles as you wish<br>

  And your coworkers will ooh and aah<br>
  and your loved ones will love you more<br>
  and asked how you managed to put together such a plate<br>
  without it being a chore<br>
  and you'll quickly reply<br>
  you too can meal prep! just use this app, and you'll have healthy delicious food on the fly!<br>
</p>
</center>

<br><br>
