
<h3> The Game Plan </h3>
<h4> TACKLING THE MEAL PREP </h4>

<p>


The secret to a quick and easy meal prep is preparing components that you can mix and match to create meals. You can repurpose certain ingredients for several different meals. For example, you can make a batch of grains that you can eat at breakfast with fruit on top, that will also be the base of a grain bowl for lunch.<br><br>

<b> The entire process is made of four steps: <br> </b>
<ul>
  1. Planning your menu <br>
<i>What are you in the mood to eat this week? Do you have a craving for Mexican flavors? We will generate a menu based on these tastes.</i> <br>
2. Shopping for ingredients (that you don’t already have) <br>
3. Preparing your produce and Cooking- instructions included! <br>
4. Portioning and packaging into tupperware containers. <br>
</ul>
</p>
