<h2>NODES</h2>

<p> put a graph viz here! </p>
<!-- {{#each model as |post|}}
    <p>{{post.node_id}}</p>
        <p>{{post.node_name}}</p>
            <p>{{post.node_type}}</p>
{{/each}} -->
{{node-component data=model}}
